@model PracticeFlorisoft.Models.BouquetModel
@{
    ViewBag.Title = "Home Page";
}
<div class="hero-image">
    <div class="wrapper">
        <div class="container container--left-only">
            <img src="https://via.placeholder.com/800" />
            <div class="card">
                <img src="https://via.placeholder.com/200x50" />
                <h1>Maak contact met bloemisten</h1>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
                        <p>Plaats foto's van je mooiste boeketten en bloemstukken</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
                        <p>Raak geinspireed door boektten en bloemstukken van anderen!</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
                        <p>Verdien FlowerPoints met ieder boeket dat je toevoegt!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="wrapper">
        <div class="container">
            <div class="card">

                <div class="card__content">
                    <h2>Deel je boeket, ontvang flowerpoints en inspireer andere bloemprofessionals met jouw meesterwek!</h2>
                </div>
                <div class="card__button">
                    <button class="button button--gradient" href="#">
                        Boeket uploaden
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="wrapper">
        <div class="container">
            <h3>Hoogste gewaardeerde boeketten</h3> <hr /> <a href="#">Bekijk alle boeketten</a>
        </div>
    </div>
</div>
<div class="collage">
    <div class="wrapper">
        <div class="container">
            @foreach (var bouquet in Model.Bouquets)
            {
                <div class="card card--collage">
                    <div class="class__image">
                        <img src="@bouquet.PhotoUrl" />
                        <span>@bouquet.AmountLikes</span>
                        <span>@bouquet.AmountComments</span>
                    </div>
                    <div class="card__content">
                        <h3>@bouquet.Title</h3>
                        <p>@bouquet.Username</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="image">
    <div class="wrapper">
        <div class="container">
        </div>
    </div>
</div>