@model PracticeFlorisoft.Models.BouquetModel
@{
    ViewBag.Title = "Home Page";
}
<div class="dialog">
    <div class="card">
        <form  action="/api/bouquet/add">
            <input type="file" id="files" name="files[]" />
            <img id="preview" />
            <input type="text" id="name" placeholder="Naam van de foto" />
            <input type="submit" id="submit" />
            <input type="button" id="cancel" value="Sluiten"/>
        </form>
    </div>
</div>
<div class="hero-image">
    <div class="wrapper">
        <div class="container container--left-only">
            @*<img src="~/statics/img/background.png" />*@
            <div class="card">
                <img src="~/statics/img/logo.png" />
                <h1>Maak contact met bloemisten</h1>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
                        <p>Plaats foto's van je mooiste boeketten en bloemstukken</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
                        <p>Raak geinspireed door boektten en bloemstukken van anderen!</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
                        <p>Verdien FlowerPoints met ieder boeket dat je toevoegt!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="wrapper">
        <div class="container">
            <div class="card">

                <div class="card__content">
                    <h2>Deel je boeket, ontvang flowerpoints en inspireer andere bloemprofessionals met jouw meesterwek!</h2>
                </div>
                <div class="card__holder">
                    <div class="card__button">
                        <a class="button button--gradient button--upload" href="#">
                            Boeket uploaden
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collage">
    <div class="wrapper">
        <div class="container">
            <div class="collage__header">
                <h3 class="collage__title">Hoogste gewaardeerde boeketten</h3> <hr /> <a href="#">> Bekijk alle boeketten</a>
            </div>
            <div class="collage__container">
                @foreach (var bouquet in Model.Bouquets)
                {
                    <div class="card card--collage">
                        <div class="card__image">
                            <img src="@bouquet.PhotoUrl" />
                            <div class="card__social">
                                <div class="card__social--container card__like">
                                    @*<i class="fas fa-heart"></i>*@
                                    <span>@bouquet.AmountLikes</span>
                                </div>
                                <div class="card__social--container card__comment">
                                    @*<i class="fas fa-comment-alt"></i>*@
                                    <span>@bouquet.AmountComments</span>
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3>@bouquet.Title</h3>
                            <p>@bouquet.Username</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="image">
    <div class="wrapper">
        <div class="container">
        </div>
    </div>
</div>